:root:not(:has(#darkmode:checked)) {
  --main-bg: black;
  --main-text: white;
  --accent-bg: white;
  --accent-text: black;
  --underline-1: green;
  --underline-2: orange;
  --redtext: #D80032;
  --hoverbg: rgb(228, 228, 228);
}
:root:has(#darkmode:checked) {
  --main-bg: white;
  --main-text: black;
  --accent-bg: black;
  --accent-text: white;
  --underline-1: green;
  --underline-2: orange;
  --redtext: #D82D20;
  --hoverbg: rgb(228, 228, 228);
}
* {
  transition: background-color 0.5s, color 0.2s;
}
body {
  margin: 0;
  overflow-x: hidden;
}
nav li:last-child {
  margin-right: 3rem;
}
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 65px;
  width: 100%;
  background-color: white;
  color: var(--accent-text);
  top: 0;
  transition: top 1s;
  z-index: 5;
  border-bottom: 2px solid grey;
}
nav img {
  height: 55px;
  aspect-ratio: 1/1;
  margin-top: 5px;
  margin-left: 5px;
}
nav ul {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  gap: 10px;
  text-align: left;
  list-style: none;
  height: 65px;
  margin: 0;
}
nav ul li,
nav label {
  padding: 1rem;
  font-size: 1.2rem;
}
nav ul li a,
nav ul li a:active,
nav ul li:link,
nav ul li:visited,
nav label {
  text-decoration: none;
  color: var(--redtext);
}
footer {
  width: 100vw;
  height: 5rem;
  color: var(--accent-text);
  background-color: var(--accent-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.upper {
  background-color: var(--main-bg);
  width: 100%;
  min-height: 180vh;
}
body {
  background-color: var(--main-bg);
}
nav ul li {
  text-decoration: none;
  position: relative;
  text-align: left;
}

nav ul li:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 0%;
  background: var(--redtext);
  transition: 0.8s;
  border-radius: 10%;
}
nav ul li:hover:after {
  width: 60%;
}
ul.dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li a,
.dropbtn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
li.dropdown {
  display: inline-block;
  transition: 1s;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 70px;
  box-shadow: rgba(216, 45, 32, 1) 0px 0px 0px 3px;
  z-index: 1;
  margin-top: 10px;
}
.dropdown-content a {
  color:black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: var(--hoverbg);
}
.dropdown:hover .dropdown-content {
  display: block;
  transition: 1s;
}
.dropdown-content-2 {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top;
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 0;
}
#darkmode {
  display: none;
}
nav label {
  z-index: 1;
}
#home::after {
  content: "";
  width: 0%;
}
.container {
  width: 330px;
  background: var(--accent-bg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  opacity: 1;
  position: absolute;
  margin-top: 100px;
}
#center {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: url(images/feedback.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
#overflow {
  overflow: hidden;
}
.container form {
  width: 85%;
  text-align: center;
  padding: 20px 20px;
}
form h1 {
  padding: 10px 0;
  color: var(--accent-text);
}
form .id {
  position: relative;
}
form input {
  width: 60%;
  height: 50px;
  margin: 4px 0;
  border: 3px solid #000;
  border-radius: 5px;
  padding-right: 45px;
  font-size: 20px;
  padding-left: 15px;
}
form i {
  color: #000;
}
.id i {
  position: absolute;
  font-size: 20px;
  top: 25px;
  right: 35px;
}
form textarea {
  padding: 5px 15px;
  border: 3px solid #000;
  border-radius: 5px;
  padding: 10px 5px;
  width: 78%;
  font-size: 20px;
}
form button {
  margin-top: 5px;
  border: 3px solid #000;
  border-radius: 5px;
  padding: 10px 5px;
  width: 84%;
  font-size: 20px;
  cursor: pointer;
}
.grid {
  display: grid;
  margin: 0px;
  padding: 0px;
  margin-top: 64px;
  width: 100%;
  grid-template-columns: 180px 1fr 180px;
  grid-template-rows: 400px 450px auto;
  overflow: hidden;
  gap: 0px;
}
.site-h1 {
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.site-h1 h1 {
  text-align: center;
  font-size: 5rem;
  color: white;
  z-index: 2;
}
.headimg {
  grid-column: 1/4;
  grid-row: 1/2;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.main {
  background-color: var(--main-bg);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--main-text);
}
.main h1{
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-color: var(--redtext);
  margin: 0;
}
.main p{
  font-size: 1.5rem;
  margin: 0 5ch ;
}
.left-side {
  background-color: var(--main-bg);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-side img{
aspect-ratio: 1/1;
max-width: 100%;
max-height: 32.5%;

}
.ad img {
  width: 180px;
  height: 450px;
}
.ad {
  grid-column: 3/4;
  height: 100%;
  
}
.main2{
  margin-top: 5%;
  display: grid;
  grid-column: 1/4;
  grid-row: 3/4;
  background-color: var(--main-bg);
  color: var(--main-text);
  border-top: 4px solid var(--redtext);
}
#hytter{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows: 1fr;
  color: var(--main-text);
  margin-bottom: 10vh;
}
#hytter img{
  width: 90%;
  height: 100%;
  margin: auto;
  border-radius: 5%;
}
.ubetjent{
  grid-column: 1/2;
  grid-row: 1/2;
}
.selvbetjent{
  grid-column: 2/3;
  grid-row: 1/2;
}
.betjent{
  grid-column: 3/4;
  grid-row: 1/2;
}
.sporsmal{
  grid-column: 1/4;
  grid-row: 3/4;
}
.hvemkan{
  grid-column: 1/2;
  grid-row: 4/5;
}
.bestille{
  grid-column: 2/3;
  grid-row: 4/5;
}
.last{
  grid-column: 3/4;
  grid-row: 4/5;
}
.apne{
  grid-column: 1/2;
  grid-row: 5/6;
}
.hund{
  grid-column: 3/4;
  grid-row: 5/6;
}
.koster{
  grid-column: 2/3;
  grid-row: 5/6;
}

.footimg {
  grid-column: 1/4;
  grid-row: 6/7;
  width: 100%;
  margin: auto;
} 

.main2 h3{
  text-decoration: underline;
  text-decoration-color: var(--redtext);
  text-align: center;
  font-size: 2rem;
}

#hytter h1{
  text-align: center;
}
#hytter p{
  margin-inline: 5ch;
}

#index{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
}
#index h3{
  color: var(--main-text);
  font-size: 2.5rem;
}
.iframe{
  grid-row: 1/2;
  grid-column: 1/4;
  margin: auto;
}
.iframe iframe{
  border: 2px solid var(--redtext);

}
.korthytte{
text-align: center;
  grid-row: 2/3;
  grid-column: 1/2;
}
.korttilbud{
  text-align: center;
  grid-row: 2/3;
  grid-column: 2/3;
}
.korttur{
  text-align: center;
}
.innmelding{
  background-color: var(--redtext);
  color: white;
  text-decoration: none;
border: 2px solid black;
  padding: 2rem;
  font-size: 2rem;
}